/* .wrapper {
    max-width: 100vw;
} */

.swiper-container {
    text-align: center;
    padding: 8vh;
}

/* .swiper-wrapper {
    width: 100vh;
} */

.explain_img {
    width: 65vw;
}

.swiper_button_prev_space {
    /* padding: 20vw; */
}

.swiper_button_next_space {
    /* padding: 20vw; */
}

.virus_icon_btn_space {
    margin-top: 3vh;
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 

.virus_icon {
    width: 16vh;
    height: 16vh;
}

.btn {
    padding: 1vh 2vw;
    background: white;
    border-radius: 3vw;
    border: 0.2vw solid black;
    color: black;
    min-width: 10vw;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2vh;
}