/* .wrapper {
    max-width: 100vw;
} */

.swiper-container {
    text-align: center;
    /* padding: 8vh; */
}

/* .swiper-wrapper {
    width: 100vh;
} */

.explain_img {
    width: 65vw;
    width: 65dvw;
}

.swiper_button_prev_space {
    /* padding: 20vw; */
}

.swiper_button_next_space {
    /* padding: 20vw; */
}

.virus_icon_btn_space {
    margin-top: 3vh;
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 

.virus_icon {
    width: 16vmin;
    width: 16dvin;
    /* height: 16vmin;
    height: 16dvmin; */
}

.btn {
    padding: 1vmin 1vmin;
    padding: 1dvmin 1dvmin;
    background: white;
    border-radius: 3vmax;
    border-radius: 3dvmax;
    border: 0.2vmax solid black;
    border: 0.2dvmax solid black;
    color: black;
    min-width: 15vw;
    min-width: 15dvw;
    font-size: 3vw;
    font-size: 3dvw;
    text-align: center;
    margin-bottom: 2vh;
}