.body {
    padding: 0;
    margin: 0;
}

.main {
    /* position: sticky; */
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 93vh;
    height: 93dvh;
    width: 100vw;
    background-color:rgba(201, 255, 237, 0.976); 
}

.footer {
    /* position: sticky;
    width: 100%; */
    height: 7vh;
    height: 7dvh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.copy_right {
    font-size: 2vmin;
    font-size: 2dvmin;
}