.body {
    padding: 0;
    margin: 0;
}

.main {
    position: sticky;
    height: 95svh;
    background-color:rgba(201, 255, 237, 0.976); 
}

.footer {
    /* position: sticky;
    width: 100%; */
    text-align: center;
    padding-top: 1svh;
}

.copy_right {
    font-size: 2svh;
}