.logo_icon_space{
    text-align: center;
    padding-top: 15svh;
}

.logo_icon {
    width: 50svw;
    justify-self: flex-start;
}

.virus_icon_btn_space {
    margin-top: 7svh;
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 

.virus_icon {
    width: 33svh;
    height: 33svh;
}

.btn {
    padding: 2svh 4svw;
    background: white;
    border-radius: 3svw;
    border: 0.2svw solid black;
    color: black;
    min-width: 10svw;
    font-size: 2svw;
    text-align: center;
    margin-bottom: 6svh;
}