.logo_icon_space{
    text-align: center;
    padding-top: 15dvh;
}

.logo_icon {
    width: 50dvw;
    justify-self: flex-start;
}

.virus_icon_btn_space {
    margin-top: 7dvh;
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 

.virus_icon {
    width: 33dvh;
    height: 33dvh;
}

.btn {
    padding: 2dvh 4dvw;
    background: white;
    border-radius: 3dvw;
    border: 0.2dvw solid black;
    color: black;
    min-width: 10dvw;
    font-size: 2dvw;
    text-align: center;
    margin-bottom: 6dvh;
}